header {
  background-image: url("/assets/images/illustration-intro.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top 14.5rem center;
  height: 55rem;
  max-height: 100%;
  background-color: $dark-blue-intro;
  @media screen and (max-width: 800px) {
    height: 36rem;
    background-size: 28rem;
  }
  & .logo {
    background-image: url("/assets/images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    max-width: 100%;
    width: 14rem;
    height: 7rem;
  }
  & nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3.8rem 5.2rem;
    @media screen and (max-width: 1110px) {
      padding: 2rem;
    }
  }
  & .menu {
    flex-direction: row;
    font-size: 1.1rem;
    gap: 4.3rem;
    font-weight: 400;
    margin: 0.4rem;
  }
  & .menu li {
    cursor: pointer;
    transition: all ease-in-out 0.7s;
    &:hover {
      text-decoration: underline;
    }
  }
}
